@keyframes movingPara{
    from {margin-left:100%;}
    to{margin-left:0;}
}

@keyframes alphafadeOut{
    from {opacity:1;}
    to{opacity:0;}
}

@-webkit-keyframes alphafadeOut{
    from {opacity:1;}
    to{opacity:0;}
}

@keyframes alphafadeIn{
    from {opacity:0;}
    to{opacity:1;}
}

@-webkit-keyframes alphafadeIn{
    from {opacity:0;}
    to{opacity:1;}
}


.alphafadeIn{
    animation:fadeIn;
    animation-duration:0.5s;
}
.alphafadeOut{
    animation:fadeOut;
    animation-duration:0.5s;
}


@keyframes fadeOut{
    from {margin-top:0px;}
    to{margin-top:-500px;}
}
@keyframes fadeIn{
    from {margin-top:-500px;}
    to{margin-top:0px;}
}

@-webkit-keyframes fadeOut{
    from {margin-top:0px;}
    to{margin-top:-500px;}
}
@-webkit-keyframes fadeIn{
    from {margin-top:-500px;}
    to{margin-top:0px;}
}


@keyframes MidUp{
    from {transform:translatey(0%)}
    to{transform:translatey(-200%);}
}
@-webkit-keyframes MidUp{
    from {transform:translatey(0%)}
    to{transform:translatey(-200%);}
}
@keyframes TopDown{
    from {transform:translatey(-200%)}
    to{transform:translatey(0%);}
}

@-webkit-keyframes TopDown{
    from {transform:translatey(-200%)}
    to{transform:translatey(0%);}
}

@keyframes DownUp{
    from {transform:translatey(100%)}
    to{transform:translatey(0);}
}

@keyframes MidDown{
    from {transform:translatey(0)}
    to{transform:translatey(100%);}
}

@-webkit-keyframes MidDown{
    from {transform:translatey(0)}
    to{transform:translatey(100%);}
}

